<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.myapp.bbs.BbsDao"> 


	 <select id="selectBbsList" resultType="BbsVo" >
	 	SELECT BBS_NO, BBS_TITLE, BBS_WRITER, BBS_REG_DATE FROM BBS
	 	ORDER BY BBS_NO
	</select>
	
	<insert id="insertBbs" > 
	
	INSERT INTO BBS( BBS_NO, BBS_TITLE, BBS_CONTENT, BBS_WRITER ) 
	VALUES(bbs_seq.NEXTVAL, #{bbsTitle}, #{bbsContent}, #{bbsWriter})
	
	</insert>

	<delete id="deleteBbs" >
	
		DELETE FROM BBS WHERE BBS_NO = #{bbsNo}
	
	</delete>
	
	<select id="selectBbs" resultType="BbsVo" >
	
		SELECT BBS_NO, BBS_TITLE, BBS_CONTENT, BBS_WRITER, BBS_REG_DATE, BBS_COUNT FROM BBS
		WHERE bbs_no = #{value}		
	
	</select>
	
	<update id="updateBbs">
	
		UPDATE BBS 
		SET BBS_TITLE = #{bbsTitle},
			BBS_CONTENT = #{bbsContent}
		WHERE BBS_NO = #{bbsNo}		
		
	</update>
	
	
</mapper>