<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.myapp.member.MemberDao">

	<resultMap type="com.exam.myapp.member.MemberVo" id="MemberMap">
		<id property="memId" column="mem_id" /> 
		<result property="memPass" column="mem_pass" />
		<result property="memName" column="mem_name" />
		<result property="memPoint" column="mem_point" />
	</resultMap>

	 <select id="selectMemberList" resultType="MemberVo" >
	 
		SELECT mem_id,  mem_name, mem_point FROM MEMBER ORDER BY mem_id 
	</select>
	
	<insert id="insertMember" parameterType="com.exam.myapp.member.MemberVo"> 
	
	INSERT INTO MEMBER( MEM_ID, MEM_PASS, MEM_NAME, MEM_POINT) VALUES(#{memId}, #{memPass}, #{memName}, #{memPoint})
	
	</insert>

	<delete id="deleteMember" parameterType="java.lang.String">
	
		DELETE FROM MEMBER WHERE MEM_ID = #{memId)}
	
	</delete>
	
	<select id="selectMember" resultType="MemberVo" >
	
		SELECT mem_id, mem_name, mem_point FROM MEMBER 
		WHERE mem_id = #{memId}		
	
	</select>
	
	<update id="updateMember" parameterType="MemberVo">
	
		UPDATE MEMBER 
		SET mem_name = #{memName},
			mem_point = #{memPoint}
		WHERE mem_id = #{memId}		
		
	</update>
	
	<select id="selectLogin" resultType="MemberVo">
	
		SELECT mem_id, mem_name, mem_point
		FROM MEMBER
		WHERE mem_id = #{memId} AND mem_pass = #{memPass}
		
	</select>
</mapper>